<%= video_tag("/videos/bgclouds.mp4", controls: false, autoplay: true, :loop => true, :class => "bgvid") %>

<div id="plane-all">
  <%= image_tag("plane_side.png", :id => "plane") %>

  <div id="window-container">
    <div class="window">
      <img src="https://lh3.googleusercontent.com/-S83QyaxoKq0/AAAAAAAAAAI/AAAAAAAAAAA/OS5OaHFEQAg/photo.jpg">
    </div>
    <div class="window">
      <img src="https://lh3.googleusercontent.com/-S83QyaxoKq0/AAAAAAAAAAI/AAAAAAAAAAA/OS5OaHFEQAg/photo.jpg">
    </div>
    <div class="window">
      <img src="https://lh3.googleusercontent.com/-S83QyaxoKq0/AAAAAAAAAAI/AAAAAAAAAAA/OS5OaHFEQAg/photo.jpg">
    </div>
    <div class="window">
      <img src="https://lh3.googleusercontent.com/-S83QyaxoKq0/AAAAAAAAAAI/AAAAAAAAAAA/OS5OaHFEQAg/photo.jpg">
    </div>
  </div>
</div>
