<%= video_tag("/videos/clouds.mp4", controls: false, autoplay: true, :class => "bgvid") %>

<div id="window-container">
  <div class="window">
    <img src="#">
  </div>
  <div class="window">
    <img src="#">
  </div>
  <div class="window">
    <img src="#">
  </div>
  <div class="window">
    <img src="#">
  </div>
</div>