<div id="window-container">
  <div class="window">
    <img src="#">
  </div>
  <div class="window">
    <img src="#">
  </div>
  <div class="window">
    <img src="#">
  </div>
  <div class="window">
    <img src="#">
  </div>
</div>