<% video_tag("/videos/travel.mp4", autoplay:true, loop: true, controls: false, :class => "bgvid") %>
<div class="centered-btn container clearfix mxn2">
	<div class="row">
	<button class="welcome-btn px2 mx-auto button-outline button-big white">
		<%= image_tag("white_logo.png") %>
		<h2>WHERE TO</h2>
	</button>
	</div>
</div>