.centered-btn{
	text-align: center;
}

.centered-btn button{
  top: 40%;
  font-family: 'Oswald', sans-serif;
  border-width: 3px;
}

.centered-btn:before{
  border-width: 3px;
}
.centered-btn h2{
	margin-top: 0;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
}

p{
	font-family: 'Cantarell', sans-serif;
}

.nav-logo{
	padding-left: 10px;
}

.nav-btn{
	padding: 0 5px;
	margin-top: 10px;
}

.nav-btn h2{
	color: #fff;
	margin: 0;
}

.welcome-btn{
	margin-top: 25%;
}
