.centered-btn{
	position: absolute;
  top: 40%;
  margin-left: 43%;
  font-family: 'Oswald', sans-serif;
  border-width: 3px;
}

.centered-btn:before{
  border-width: 3px;
}

.nav a{
  color: white;
}
.nav a h2{
	margin: 0 0 0 0;

}
.centered-btn h2{
	margin-top: 0;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
}

p{
	font-family: 'Cantarell', sans-serif;
}

#rt-nav{
	float: right;
}