<div class="mxn1 nav">
	<div id="left-nav">

  	<a href="#!" class=""><%= image_tag("white_logo.png")%></a>
  </div>
  <div id="right-nav">
  	<a href="#!" class="button button-narrow button-transparent"><h2>+</h2></a>
  	<a href="#!" class="button button-narrow button-transparent"><h2>LOGOUT</h2></a>
  	<a href="#!" class="button button-narrow button-transparent"><h2>PROFILE</h2></a>
  	<a href="#!" class="button button-narrow button-transparent"><h2>SIGN UP</h2></a>
  	<a href="#!" class="button button-narrow button-transparent"><h2>LOGIN</h2></a>
  </div>
</div>