<div class="mxn1">
  <a href="#!" class="button button-narrow button-transparent"><%= image_tag("rails.png") %>Where to?</a>
  <a href="#!" class="button button-narrow button-transparent">Fries</a>
  <a href="#!" class="button button-narrow button-transparent">Shakes</a>
  <a href="#!" class="button button-narrow button-transparent">Onion Rings</a>
</div>